

.chat-card-items{
    align-items: center;
    
}


.container{
    display: flex;
    width: 300px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px; /* 5px rounded corners */

}

.container:hover{
    box-shadow: 0 4px 8px 0 rgba(2,0,0,0.2);

}

.chat-header{
    padding: 10px;
    box-shadow: 0px 0px 3px #5f77ff;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header{
    font-size: 20px;
}